.c-recent-expenses {
    .list-group {
        max-height: 350px !important;
        overflow-y: scroll;
    }
}
.c-emphy-expenses {
    width: 100%;
height: 200px;
display: flex
;
flex-direction: column;
align-items: center;
justify-content: center;
}
