@import "../../scss/variables.scss";
.c-achievements {
    .card {
        height: 16rem;
    }
    .card-body {
        padding: 2em 2em 2em 2em;
    }

    .goals-container {
        .card {
            margin-bottom: 2em;
        }
    }
}

.progress-bar{
    background-color: $principal !important;
}

.addObj{
    border-color:  $principal !important;;
}