
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "scss/utils";
@import "scss/fonts";
@import "scss/variables";

body {
  font-size: 14px;
}

section{
  padding: 2.5em 0;
}

.wrap{
  @include media-breakpoint-up(md){
      padding: 0 8em;
  }
  padding: 0 2em;
}

